#embed_content textarea {
  font-size: 12px;
  height: 120px;
  white-space: nowrap;
  overflow: auto;
  overflow-x: hidden;
}

div#share_overlay_content {
  background: blue;
  position: relative;
}

#share_badge {
  position: absolute;
  top: 18px;
  left: 16px;
  opacity: 0.85;
  filter: alpha(opacity=85);
}

#share_options {
  width: 78px;
  height: 78px;
  left: 0;
  top: 0;
  background: url('../../../../images/share_overlay/circle_bg.png') no-repeat right bottom;
  position: absolute;
  z-index: 52;
}

#share_options ol {
  background: url('../../../../images/share_overlay/btn_share_collapse.png') no-repeat;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  position: relative;
  top: 11px;
  left: 11px;
  list-style: none;
}

#share_options li {
  position: absolute;
  padding: 0;
  margin: 0;
}

#share_options li img {
  cursor: pointer;
  border: 0;
}

#share_options li#embed_share {
  left: 50px;
  top: -7px;
}

#share_options a {
  width: 26px;
  height: 26px;
  display: block;
  cursor: pointer;
}

a#share_embed_button {
  background: url('../../../../images/share_overlay/embed_off.png');
}

a#share_embed_button.active {
  background: url('../../../../images/share_overlay/embed_on.png');
}

#share_options li#email_share {
  left: 53px;
  top: 18px;
}

a#share_email_button {
  background: url('../../../../images/share_overlay/email_off.png');
}

a#share_email_button.active {
  background: url('../../../../images/share_overlay/email_on.png');
}

#share_options li#linkedin_share {
  left: 40px;
  top: 40px;
}

#share_options li#twitter_share {
  left: 17px;
  top: 50px;
}

#share_options li#facebook_share {
  left: -9px;
  top: 49px;
}

#embed_content, #email_content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 380px;
  margin: auto;
  text-align: left;
  z-index: 51;
}

#embed_content {
  height: 206px;
}

#email_content {
  height: 240px;
}

#email_content.errors {
  height: 318px;
}

#email_form, #embed_form, #email_thankyou {
  width: 294px;
  margin: auto;
  padding-left: 44px;
}

#email_errors, #email_error {
  width: 240px;
  margin: auto;
}

#email_error {
  margin-top: 12px;
}

div#overlay {
  opacity: 0.8;
  filter: alpha(opacity=80);
  background-color: black;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 50;
}

div#email_errors, div#email_error {
  font-size: 12px;
  padding: 4px;
  border: 1px solid red;
  background-color: pink;
  margin-bottom: 12px;
}

div#email_errors ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

div#email_errors ul li, div#email_error p {
  margin: 4px;
  font-weight: normal;
  color: black;
}

a.button {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0px 5px 0px 0px;
  float: right;
  position: relative;
}

a.continue.button {
  background-image: url("../../../../images/share_overlay/arrow.png");
}

a.close.button {
  background-image: url("../../../../images/share_overlay/close.png");
}

a#forward_piece_again {
  display: block;
  margin-top: 30px;
  font-size: 14px;
}

a#forward_piece_again, a#forward_piece_again:visited, a#forward_piece_again:active {
  color: white;
}

#close_button {
  position: absolute;
  right: 3px;
  top: 3px;
  z-index: 53;
  cursor: pointer;
}

p.old {
  color: white;
}
