.social_bar_dialog {
  border: 7px solid black;
  border: 7px solid rgba(0,0,0,0.8);
  -webkit-border-radius:7px;
  -moz-border-radius:7px;
  border-radius:7px;
  padding: 15px;
  left: 50%;
  top: 150px;
  position: absolute;
  z-index: 51;
  background: white;
  font: 13px Arial, Helvetica, sans-serif;
}

.social_bar_dialog h3 {
  font-size: large;
  font-size: 18px;
  color: #35639c;
  margin: 0px;
}

.social_bar_dialog p {
  color: #999;
  margin-top: 0px;
  font-weight: normal;
}

.social_bar_dialog .close_button {
  position: absolute;
  top: -12px;
  right: -12px;
}

.social_bar_dialog .close_button img {
  border: none;
}

.social_bar_dialog a.button, button.button {
  float: right;
  display: inline-block;
}

.social_bar_dialog .clear {
  clear: both;
}

.social_bar_dialog label {
  color: black;
}

.social_bar_dialog_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background-color: #000;
  opacity: 0.6;
  filter: alpha(opacity=60);
}

#streamsend_footer .social_bar_dialog_overlay {
  opacity: 0.0 !important;
  filter: alpha(opacity=0) !important;
}

#streamsend_footer .social_bar_dialog {
  top: 50%;
}
